* {
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    background-color: #3a3e59;
  }
  
  .match {
    height: 97vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .itemType{
    display: grid;
    top: 19vh;
    right: 75%;
    position: absolute;
  }
  
  .gameType{
    cursor: pointer;
    color: black;
    display: inline-block;
    font-weight: bold;
  }
  
  .opt{
    
  }
  
  .playing {
    display: flex;
    gap: 8px;
    margin: 0 0 40px 0;
  }
  
  .Xgame {
    width: 185px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
    border:1px solid gray;
    border-bottom-color: #ed6b5b;
    border-bottom: 3.5px solid transparent;
    box-shadow: 0 4px 5px rgb(0 0 0 / 50%);
  }
  
  .Ogame {
    width: 185px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
    border:1px solid gray;
    border-bottom: 3.5px solid transparent;
  }
  
  .gamer {
    float: left;
    padding: 2px 20px;
    font: icon;
    font-size: large;
  }
  
  .xGamerNumber, .oGamerNumber {
    float: right;
    padding: 0 12px;
    font: icon;
    font-size: x-large;
    color: gray;
  }
  
  .table {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  
  .box, 
  .box0, .box1, .box2
  .box3 {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    margin: 4px 4px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3e59;
  }
  
  .x::after {
    font: icon;
    font-size: 65px;
    content: 'X';
    color: #2f0f0f;
  }
  
  .o::after {
    font: icon;
    font-size: 65px;
    content: 'O';
    color: white;
  }
  
  .disabled {
      cursor: not-allowed;
  } 
  
  .grid-cell:not(.disabled):hover {
      background: #eee;
  }
  
  .winner-massage{
    height: 100vh;
    display: none;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    background-color: #3a3e59;
  }
  
  .gamer-winner{
    color: #2f0f0f;
    font: icon;
    font-size: 200px;
  }
  
  .gamer-draw{
    color: white;
    font: icon;
    font-size: 200px;
  }
  
  .gamer-text{
    color: #2f0f0f;
    font: icon;
    font-size: 120px;
  }
  
  .visible{
    display: grid;
  }